doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

doctype html
html. // THAT DOT
    <body>
        <div>Hello, yes this is #{title} </div>
    </body>